---
layout: default
background-class: home-page-background
body-class: homepage
display-news-banner: true
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>Build.<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Learn.<br />Connect.</h1>
    <p class="lead">A nationwide, community-led network for people who learn, teach, research, and build with PyTorch across Luzon, Visayas, and Mindanao.</p>
    <a href="{{ site.baseurl }}/portal/register/" class="btn btn-lg with-right-arrow" data-cta="join">
      Join the community
    </a>
    <a href="{{ site.baseurl }}/get-started/" class="btn btn-lg with-right-arrow" data-cta="get-started">
      Get started with PyTorch
    </a>
  </div>
</div>

<div class="main-content-wrapper">
  {% include ph/community_section.html %}
  {% include ph/news_section.html %}
  {% include ph/learn_section.html %}
  {% include ph/about_section.html %}
</div>
