<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}

<body class="blog">
    <div class="main-background blog-background blog-detail-background"></div>

    <div class="container-fluid header-holder ph-header">
        <div class="container">
            {% include nav.html %}
        </div>
    </div>

    <main id="main-content" tabindex="-1">

    <div class="jumbotron jumbotron-fluid blog-detail-jumbotron">
        <div class="container blog-detail-container">
            <p class="featured-post">{{ page.date | date: '%B %d, %Y' }}</p>
            <h1><a class="blog-title">{{ page.title }}</a></h1>
        </div>
    </div>

    <div class="main-content-wrapper blog-detail-wrapper">
        <div class="main-content blog-detail-content">
            <div class="container">
                <img src="{{ site.baseurl }}/assets/images/logo-icon.svg" class="img-fluid author-icon">
                <article class="pytorch-article">
                    <p class="author">
                        By {% if page.author %}{{ page.author }}{% else %}{{ site.default_author }}{% endif %}
                    </p>
                    <div class="blog-content">
                        {{ content }}
                    </div>
                    <hr noshade />
                    <p class="translation-description ad-discuss">
                        Have questions or something to share? Find us on <a href="{{ site.external_urls.repo_org }}">GitHub</a> or join the <a href="{{ site.baseurl }}/portal/register/">PyTorch Philippines community</a>.
                    </p>
                </article>
            </div>
        </div>
    </div>

    </main>
    {% include footer.html %}

    {% if page.math %}
    {% comment %} Load MathJax only for posts with front matter math: true. {% endcomment %}
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    {% endif %}
</body>
</html>
